@font-face {
    font-family: "Futura";
    src:
     url("../fonts/futura-medium.woff") format("woff"),
        url("../fonts/futura-medium.woff2") format("woff2"),
        url("../fonts/futura-medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

/* General positioning */

.center {
    margin-left: auto;
    margin-right: auto;
}

/* Background images */

html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

.home-bg {
    background: url(/assets/images/home_bg.jpeg) no-repeat center center fixed;
}

.hours-bg {
    background: url(/assets/images/hours_bg.jpeg) no-repeat center center fixed;
    background-size: cover !important; 
}

.transparentBG {
    background-color: rgba(0,0,0,0);
}

/* Footer positioning */

body {
    display: flex;
    min-height: 90vh;
    flex-direction: column;
  }

main {
    flex: 1 0 auto;
  }

/* .page-footer {
    margin-top: auto;
} */

/* Inline list positioning */

.list-inline {
    padding-left: 0;
    margin-left: -5px;
    list-style: none;
  }
  .list-inline > li {
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
  }

/*
------------------------------------------
Fonts
------------------------------------------
*/

.font-futura {
    font-family: "futura-medium", sans-serif;
}

.font-roboto {
    font-family: "Roboto", sans-serif;
}

/* Text shadows */

.text-shadow {
    text-shadow: 0.125rem 0.125rem 0.125rem rgba(0, 0, 0, 0.5);
}

/* Uppercase */

.uppercase {
    text-transform: uppercase;
}

/*
------------------------------------------
Logo
------------------------------------------
*/

.logo {
    margin-top: 3.125rem;
}

/* .logo {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}  */

.temaki-logo {
    height: 100%;
    width: 100%;
    padding-right: 6px;
    /* margin-bottom: -50px; */
}

/*
------------------------------------------
Hours
------------------------------------------
*/

.hours-days {
    margin-bottom: 0.3125rem;
}

.hours-times {
    margin-top: 0.3125rem;
}

.hours-table {
    /* border: solid black 2px; */
    border-collapse: separate;
    border-radius: 20px;
    -moz-border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    /* width: 90%; */
}

td {
    border-bottom: solid 1px black;
}

.bottom-table {
    border-bottom: none;
}

/*
------------------------------------------
Buttons
------------------------------------------
*/

.btn-large {
    width: 12rem;
    margin: 20px 10px 20px 10px;
    padding: 0;
}

.btn-large:hover {
    color: #fff !important;
}

/* Open table button */

#ot-reservation-widget {
    margin: auto;
}

.ot-button {
    background-color: #F44336 !important;
    color: #000 !important;
    text-transform: uppercase !important;
    font-family: "futura-medium", sans-serif !important;
    font-weight: normal !important;
    font-size: 15px !important;
    width: 12rem !important;
    border: none !important;
    padding-top: 3px !important;
    padding-right: 27px !important;
}

.ot-button:hover {
    color: #fff !important;
}

/*
------------------------------------------
Footer
------------------------------------------
*/

.footer-social-links {
    margin: 0;
    font-size: 2.5rem;
}

.page-footer{
    padding: 0;
}


.footer-copyright {
    margin-left: 0.625rem
}

.bigScreen {
    display: none;
}

.smallMedScreen {
    display: block;
}

/* ---------------------------------------------------Media queries */

/* >600px - Materialize Tablet devices (m) */

@media screen and (min-width: 601px) {

    .logo-and-buttons {
        margin-top: 150px !important;
    }

    .temaki-logo {
        height: 75%;
        width: 75%;
    }

    .hours-table {
        width: 75%;
    }

    body {
        min-height: 100vh;
      }
}

/* >992px - Materialize Desktop devices (l) */

@media screen and (min-width: 993px) {

    .logo-and-buttons {
        margin-top: 0 !important;
    }

    .logo {
        margin-top: 0;
    }
    
    .temaki-logo {
        height: 100%;
        width: 100%;
    }

    .bigScreen {
        display: block;
    }
    
    .smallMedScreen {
        display: none;
    }

    .temaki-logo {
        height: 85%;
        width: 85%;
        /* padding-right: 53px; */
        padding-right: 20px;
   }

   /* Center page content */

    #wrapper {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


/* >1200px - Materialize Large Desktop devices (l) */

@media screen and (min-width: 1200px) {

    .temaki-logo {
        margin-bottom: -50px;
    }

}
